* {
    box-sizing: border-box;
}

h1 {
    font-family: arial;
    color: rgb( 118, 86, 117 );
    color: #EEEE00;
}

body {
    background-repeat: no-repeat;
    font-family: arial;
    margin: 0;
    padding: none;
    background-color: black;
    color: #FFFF00;
}

footer {
    font-family: arial;
    font-size: 12px;
    padding-left: 10px;
    position:absolute;
    bottom: 0;
    width: 100%;
    color: white;
}

/* Links */
a {
    text-decoration: underline;
}
a:link {
    color: #00DDFF;
}
a:visited {
    color: #00AAFF;
}
a:hover {
    color: #00FFFF;
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
#canvas {
    padding-right: 0;
    display: none;
    border: 0px none;
}
